<% title "New Bookmark" %>
<div class="bookmark_form">
	<%= form_for @bookmark do |f| %>
	  <%= f.error_messages %>
	  <p>
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </p>
	  <p>
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	  </p>
	  <p>
	    <%= f.label :url %><br />
	    <%= f.text_field :url %>
	  </p>
	  <p><%= f.submit %></p>
	<% end %>
</div>

<% render 'form' %>

<p><%= link_to "Back to List", bookmarks_path %></p>
