<h1>Bookmarker: Online Bookmarking Organizer</h1>

<ul>
	<li>Search and organize bookmarks easily</li>
	<li>Access bookmarks from any browser</li>
</ul>

<div id="signup_form">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div><%= f.label :email %><br />
    <%= f.email_field :email %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>

    <br />
    <div><%= f.submit "Sign up", :class => "confirm_button" %></div>
  <% end %>
</div>
<% render "links" %>
