<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
        <div id="title_bar">
          Bookmarker
          <% if user_signed_in? %>
            <!--<button id="login_button">Log out</button>-->
            <%= link_to('Log out', destroy_user_session_path, :method => :delete, :id => "login_button") %>
          <% else %>
            <button id="login_button">Log in</button>
          <% end %>
        </div>
      </div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
